body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background: linear-gradient(to bottom, #008000, #000080, #000000); /* Fundo gradiente verde, azul e preto */
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: white;
    margin: 0 0 5px;
    font-size: 60px;
}

h2{
    color: white;
    font-size: 40px;
    margin: 0 0 5px;
}


.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

body > img {
    margin: 0 10px;
    width: 20%;
    
}

img {
    max-height: 250px;
}

.valor {
    font-size: 50px;
    color: #ffffff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
